.sec8 {
  height: 40rem
}

.box8_1_1 {
  margin-top: 2rem
}

.inbox8_1_1_1 {
  max-width: 10rem;
}

.box8_1_2 {
  font-size: 1rem
}

.con8_2 {
  margin-top: 1rem
}

.box8_2_1 {
  font-size: 1.4rem;
  margin-bottom: 0.5rem;
}

.box8_2_2 {
  margin-top: 0.5rem
}

.box8_3_1 {
  font-size: 1.4rem;
  margin-bottom: 0.5rem;
}

.box8_3_2 {
  margin-top: 0.5rem
}

.box8_4_1 {
  margin-top: 1rem;
  margin-bottom: 2rem
}

.inbox8_4_1_1 {
  height: 7rem;
  width: 7rem
}

.Dish {}

.DishUp {}

.DishUpName {}


.DishUpPrice {}

.DishDown {}

.DishDownPodtytuł {}

.DishDownOpis {}